@media screen and (max-width: 700px) {
  .menuHeader {
    display: none;
  }
  
  .menuIconMobile {
    display: block !important;
  }
}

.menuIconMobile {
  display: none;
  color: #fff;
  font-size: 30px;
  margin-right: 50px;
  cursor: pointer;
  min-width: 50px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  height: 100px;
  background-color: #2c3e50;
  font-family: Montserrat;
}
.caixaLogo {
  width: 270px;
  min-width: 270px;
}
.logoHeader {
  font-size: 30px;
  font-weight: 700;
  margin-left: 50px;
  color: #fff;
  margin-top: 20px;
}
.logoHeader2 {
  font-size: 20px;
  font-weight: 100;
  font-family: La Belle Aurore;
  margin-left: 150px;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.418);
}
.menuHeader {
  color: #fff;
  margin-right: 50px;
  width: 400px;
  min-width: 410px;
}
.menuItem {
  margin: 0 15px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent;
  border: 0;
  font-family: Montserrat;
  color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.267);
}
.menuItem:hover {
  background-color: rgba(240, 248, 255, 0.062);
}
