@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Montserrat:wght@500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  /* background-color: rgba(0, 8, 255, 0.15) !important; */
  
}
html{ 
  width: 100vw; 
}
body{ 
  width: 100vw; 
}
p{font-family: Montserrat;}
.df {
  display: flex;
}
.jcc {
  justify-content: center;
}
.jcsb{
  justify-content: space-between;
}
.jcsa{
  justify-content: space-around;
}
.jcse{
  justify-content: space-evenly;
}
.aic {
  align-items: center;
}
.fdc {
  flex-direction: column;
}
.bs{
  border: solid;
}