.modal {
  font-family: Montserrat;
  z-index: 110;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  background-color: #fff; 
  padding: 20px; 
  max-width: 400px; 
  width: 100%;
 overflow: auto;
 border-radius: 10px;
}
 
 .modal span{
  display: block;
  text-align: right; 
}
 .divFechar{
  display: flex;
  justify-content: flex-end; 
 }
 .tituloModal{
   font-size: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
 }
 .backBlack{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.671);
 }
 .requisitosSenha{
  font-size: 12px;
  text-align: left !important;
 }